@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode: Stark White */
    --color-primary-bg: 255 255 255;
    --color-primary-text: 9 9 11;
    /* Zinc 950 */
    --color-accent: 24 24 27;
    /* Zinc 900 (Black accent) */
    --color-brand-start: 82 82 91;
    /* Zinc 600 */
    --color-brand-end: 24 24 27;
    /* Zinc 900 */
  }

  .dark {
    /* Dark Mode: Matte Black/Zinc */
    --color-primary-bg: 9 9 11;
    /* Zinc 950 (Almost pure black) */
    --color-primary-text: 228 228 231;
    /* Zinc 200 */
    --color-accent: 250 250 250;
    /* Zinc 50 (White accent) */
    --color-brand-start: 228 228 231;
    /* Zinc 200 */
    --color-brand-end: 113 113 122;
    /* Zinc 500 */
  }

  body {
    @apply bg-primary-bg text-primary-text antialiased transition-colors duration-300;
    overflow-x: hidden;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.3);
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 0.5);
  }
}